<div>
    <h2>
        <span jhiTranslate="jhipsterApp.intervalo.home.title">Intervalos</span>
        <button class="btn btn-primary float-right jh-create-entity create-intervalo" [routerLink]="['/', { outlets: { popup: ['intervalo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.intervalo.home.createLabel">
            Create new Intervalo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="intervalos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.intervalo.fechaHoraDesde">Fecha Hora Desde</span></th>
            <th><span jhiTranslate="jhipsterApp.intervalo.duracion">Duracion</span></th>
            <th><span jhiTranslate="jhipsterApp.intervalo.dia">Dia</span></th>
            <th><span jhiTranslate="jhipsterApp.intervalo.repite">Repite</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let intervalo of intervalos ;trackBy: trackId">
                <td><a [routerLink]="['../intervalo', intervalo.id ]">{{intervalo.id}}</a></td>
                <td>{{intervalo.fechaHoraDesde | date:'medium'}}</td>
                <td>{{intervalo.duracion}}</td>
                <td jhiTranslate="{{'jhipsterApp.Dia.' + intervalo.dia}}">{{intervalo.dia}}</td>
                <td>{{intervalo.repite}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../intervalo', intervalo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intervalo/'+ intervalo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intervalo/'+ intervalo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
