
<div *ngIf="intervalo">
    <h2><span jhiTranslate="jhipsterApp.intervalo.detail.title">Intervalo</span> {{intervalo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.intervalo.fechaHoraDesde">Fecha Hora Desde</span></dt>
        <dd>
            <span>{{intervalo.fechaHoraDesde | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.intervalo.duracion">Duracion</span></dt>
        <dd>
            <span>{{intervalo.duracion}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.intervalo.dia">Dia</span></dt>
        <dd>
            <span jhiTranslate="{{'jhipsterApp.Dia.' + intervalo.dia}}">{{intervalo.dia}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.intervalo.repite">Repite</span></dt>
        <dd>
            <span>{{intervalo.repite}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'intervalo/'+ intervalo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
