<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-servicio-heading" jhiTranslate="jhipsterApp.servicio.home.createOrEditLabel">Create or edit a Servicio</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!servicio.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="servicio.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="servicio.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.codigo" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="servicio.codigo" required minlength="4" maxlength="4"/>
                    <div [hidden]="!(editForm.controls.codigo?.dirty && editForm.controls.codigo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                        This field is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                        This field cannot be longer than 4 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.kilometraje" for="field_kilometraje">Kilometraje</label>
                    <input type="number" class="form-control" name="kilometraje" id="field_kilometraje"
                        [(ngModel)]="servicio.kilometraje" required/>
                    <div [hidden]="!(editForm.controls.kilometraje?.dirty && editForm.controls.kilometraje?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.kilometraje?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.kilometraje?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.duracion" for="field_duracion">Duracion</label>
                    <input type="number" class="form-control" name="duracion" id="field_duracion"
                        [(ngModel)]="servicio.duracion" required/>
                    <div [hidden]="!(editForm.controls.duracion?.dirty && editForm.controls.duracion?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.duracion?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.duracion?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                        [(ngModel)]="servicio.precio" required/>
                    <div [hidden]="!(editForm.controls.precio?.dirty && editForm.controls.precio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.precio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.precio?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" name="categoria" [(ngModel)]="servicio.categoria" id="field_categoria"  required>
                        <option value="AUTOMOVIL">{{'jhipsterApp.Categoria.AUTOMOVIL' | translate}}</option>
                        <option value="CARGA">{{'jhipsterApp.Categoria.CARGA' | translate}}</option>
                        <option value="REMOLQUE">{{'jhipsterApp.Categoria.REMOLQUE' | translate}}</option>
                        <option value="TRANSPORTE">{{'jhipsterApp.Categoria.TRANSPORTE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.categoria?.dirty && editForm.controls.categoria?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.categoria?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.servicio.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" id="field_tipo" name="tipo" [(ngModel)]="servicio.tipoId"  required>
                        <option *ngIf="!editForm.value.tipo" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoDeServicioOption.id" *ngFor="let tipoDeServicioOption of tipodeservicios; trackBy: trackTipoDeServicioById">{{tipoDeServicioOption.codigo}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tipo?.dirty && editForm.controls.tipo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label jhiTranslate="jhipsterApp.servicio.tarea" for="field_tarea">Tarea</label>
                    <select class="form-control" id="field_tarea" multiple name="tarea" [(ngModel)]="servicio.tareas" required>
                        <option [ngValue]="getSelected(servicio.tareas, tareaOption)" *ngFor="let tareaOption of tareas; trackBy: trackTareaById">{{tareaOption.codigo}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tarea?.dirty && editForm.controls.tarea?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tarea?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div [hidden]="!(editForm.controls.turno?.dirty && editForm.controls.turno?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.turno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
