<div>
    <h2>
        <span jhiTranslate="jhipsterApp.precioServicio.home.title">Precio Servicios</span>
        <button class="btn btn-primary float-right jh-create-entity create-precio-servicio" [routerLink]="['/', { outlets: { popup: ['precio-servicio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.precioServicio.home.createLabel">
            Create new Precio Servicio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="precioServicios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="precio"><span jhiTranslate="jhipsterApp.precioServicio.precio">Precio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modeloNombre"><span jhiTranslate="jhipsterApp.precioServicio.modelo">Modelo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="servicioNombre"><span jhiTranslate="jhipsterApp.precioServicio.servicio">Servicio</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let precioServicio of precioServicios ;trackBy: trackId">
                <td><a [routerLink]="['../precio-servicio', precioServicio.id ]">{{precioServicio.id}}</a></td>
                <td>{{precioServicio.precio}}</td>
                <td>
                    <div *ngIf="precioServicio.modeloId">
                        <a [routerLink]="['../modelo', precioServicio.modeloId  ]" >{{precioServicio.modeloNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="precioServicio.servicioId">
                        <a [routerLink]="['../servicio', precioServicio.servicioId  ]" >{{precioServicio.servicioNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../precio-servicio', precioServicio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precio-servicio/'+ precioServicio.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precio-servicio/'+ precioServicio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="precioServicios && precioServicios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
