
/* ==========================================================================
Main page styles
========================================================================== */

.footer {
    display: inline-block;
    height: 100px;
    background: url("../../../content/images/footer.png") no-repeat center top;
    background-color: white;
    background-size: contain;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    max-height: 100px;
}
