
/* ==========================================================================
Main page styles
========================================================================== */

.footer {
    display: inline-block;
    width: 2127px;
    height: 218px;
    background: url("../../content/images/footer.png") no-repeat center top;
    background-size: contain;
}
