<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonaLabel" jhiTranslate="jhipsterApp.persona.home.createOrEditLabel">Create or edit a Persona</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!persona.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="persona.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.persona.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="persona.nombre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.persona.apellido" for="field_apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="field_apellido"
                [(ngModel)]="persona.apellido" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.persona.dni" for="field_dni">Dni</label>
            <input type="number" class="form-control" name="dni" id="field_dni"
                [(ngModel)]="persona.dni" required/>
            <div [hidden]="!(editForm.controls.dni?.dirty && editForm.controls.dni?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dni?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dni?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.persona.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="persona.direccion" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
