<div>
    <h2>
        <span jhiTranslate="jhipsterApp.diaNoLaborable.home.title">Dia No Laborables</span>
        <button class="btn btn-primary float-right jh-create-entity create-dia-no-laborable" [routerLink]="['/', { outlets: { popup: ['dia-no-laborable-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.diaNoLaborable.home.createLabel">
            Create new Dia No Laborable
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="diaNoLaborables">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fecha"><span jhiTranslate="jhipsterApp.diaNoLaborable.fecha">Fecha</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dia"><span jhiTranslate="jhipsterApp.diaNoLaborable.dia">Dia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="repite"><span jhiTranslate="jhipsterApp.diaNoLaborable.repite">Repite</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diaNoLaborable of diaNoLaborables ;trackBy: trackId">
                <td><a [routerLink]="['../dia-no-laborable', diaNoLaborable.id ]">{{diaNoLaborable.id}}</a></td>
                <td>{{diaNoLaborable.fecha | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'jhipsterApp.Dia.' + diaNoLaborable.dia}}">{{diaNoLaborable.dia}}</td>
                <td>{{diaNoLaborable.repite}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dia-no-laborable', diaNoLaborable.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dia-no-laborable/'+ diaNoLaborable.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dia-no-laborable/'+ diaNoLaborable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="diaNoLaborables && diaNoLaborables.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
