
<div *ngIf="diaNoLaborable">
    <h2><span jhiTranslate="jhipsterApp.diaNoLaborable.detail.title">Dia No Laborable</span> {{diaNoLaborable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.diaNoLaborable.fecha">Fecha</span></dt>
        <dd>
            <span>{{diaNoLaborable.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.diaNoLaborable.dia">Dia</span></dt>
        <dd>
            <span jhiTranslate="{{'jhipsterApp.Dia.' + diaNoLaborable.dia}}">{{diaNoLaborable.dia}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.diaNoLaborable.repite">Repite</span></dt>
        <dd>
            <span>{{diaNoLaborable.repite}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dia-no-laborable/'+ diaNoLaborable.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
