<div>
    <h2>
        <span jhiTranslate="jhipsterApp.tarea.home.title">Tareas</span>
        <button class="btn btn-primary float-right jh-create-entity create-tarea" [routerLink]="['/', { outlets: { popup: ['tarea-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.tarea.home.createLabel">
            Create new Tarea
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tareas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.tarea.codigo">Codigo</span></th>
            <th><span jhiTranslate="jhipsterApp.tarea.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="jhipsterApp.tarea.tipo">Tipo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tarea of tareas ;trackBy: trackId">
                <td><a [routerLink]="['../tarea', tarea.id ]">{{tarea.id}}</a></td>
                <td>{{tarea.codigo}}</td>
                <td>{{tarea.descripcion}}</td>
                <td jhiTranslate="{{'jhipsterApp.TipoTarea.' + tarea.tipo}}">{{tarea.tipo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tarea', tarea.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tarea/'+ tarea.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tarea/'+ tarea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
